@media (min-width: 426px) and (max-width: 767px) {
    body {
        background-origin: content-box;
        background: url('../img/bg_fundo_xl2.jpg') no-repeat center top;
    }

    
    .bodytkp {
        background-origin: content-box;
        background: url('../img/tkp_fundo_xl.jpg') no-repeat center top !important;

    }

    .box {

        display: none;
        border-radius: 20px;
        max-width: 340px;
        margin: 15px 0;
        right: 140px;
        position: relative!important;
    }

    .box p {
        color: #FFF;
        font-size: 18px;
        font-weight: normal;
        padding: 20px 10px;
        text-align: center;
    }

    .box form {
        padding-left: 20px;
        padding-right: 20px;
    }

    .btn-formulario-display {
        display: inline;
        padding: 0 100px;
    }

    .btn-close {
        display: inline;
    }


    .conteudo-a {
        margin-top: 30px;

    }

    .conteudo-b {
        margin-top: 40px;

    }
    
    .conteudo-tkp-a {
        margin-top: 10px;

    }


    .conteudo-tkp-b {
         margin-top: 20px;
    }

    .conteudo-tkp-c {
        width: 30%;
        margin-top: 70px;
    }
}