@media (min-width: 1441px) {
    body {
        background-origin: content-box;
        background: #FFF url('../img/bg_fundo_xl2.jpg') no-repeat center top;
    }

    .bodytkp {
        background-origin: content-box;
        background: url('../img/tkp_fundo_xl.jpg') no-repeat center top !important;
    }

    .box {
        border-radius: 20px;
        max-width: 380px;
        right: 200px;
    }

    .box p {
        color: #FFF;
        font-size: 16px;
        font-weight: normal;
        padding: 20px 10px;
        text-align: center;
    }

    .box p span {
        font-size: 19px;
        font-weight: bold;
    }

    .box form {
        padding-left: 20px;
        padding-right: 20px;
    }

    .conteudo-a {
        margin-top: 10px;
        width: 60%;
    }

    .conteudo-m {
        margin-top: 10px;
        visibility: hidden;
    }

    .linha-cinza {
        background: #3a3a3a;
        font-size: 40px;
    }

    .infos {
        color: #FFF;
        margin-bottom: -20px;
    }

    .infos p {
        text-align: justify;
    }

    .infos h2 span {
        color: #e50e4b;
    }

    .tkp-conteudo-a {
        visibility: hidden;
    }

    .tkp-conteudo-b {
        visibility: hidden;
    }



    h6 {
        color: #e50e4b;
    }
}